    /*body{
        margin: 0;
        width: 500px;
        height: 500px;
    }*/
    /*.paragrafo {
        color: red;
        font-size: 20px;
    }*/
    .interno{
        background-color:   greenyellow;
        font-size: 16px;
    }