    /*body{
        margin: 0;
        width: 500px;
        height: 500px;
    }*/
    /*.paragrafo {
        color: red;
        font-size: 20px;
    }*/
    .interno{
        background-color:   greenyellow;
        font-size: 16px;
    }
     .paragrafo{
        margin: 30px;
    }
    div{
        padding: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .borda{
        color: black;
        border: solid 3px; 
    }
    