    /*.divisao{
        background-color: navy;
        color: white;
    }
    .divisao span{
        background-color: aliceblue;
    }
    .realce{
        color: yellowgreen;
    }
    html {
        background-color:  #d3d3d3;
        font-size: 16px;
    }
    body{
        background-color: deepskyblue;
        width: 50%;
        font-size: 2em;
    }
    .pai{
        background-color: aquamarine;
        width: 50%;
        font-size: 3em;
    }
    .filha{
        background-color: lightblue;
        width: 50%;
        font-size: 2rem;
    }*/
    /*
    .pixel{
        background-color: blue;
        width: 100px;
        height: 100px;
    }*/
    body{
        margin: 0;
        width: 500px;
        height: 500px;
    }
    .elemento1 {
        width: 100vw;
        height: 100vh;
        background-color: aqua;
    }
    .elemento2{
        width: 100%;
        height: 100%;
        background-color: dodgerblue;
    }